<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>r:p:s</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="andy_style.css">
  </head>
  <body>
    <section id="container">
      <header>..r beats s beats p beats r..
      </header>
      <section class="slider">
        <h2 class="slider_title"><%= GAME.possible_values %><br><span>..just because you may be bored</span></h2>
        <a href="/new_game"> Reset Game </a>
      </section>
      <!-- displaying turn result -->
      <%= "#{@p1_name} chose #{@p1_choice}, #{@p2_name} chose #{@p2_choice}" if @p1_choice != nil %><br>
      <%= @result %><br>
      <%= "Current Scores: #{@p1_name}: #{@p1_score}  #{@p2_name}: #{@p2_score}" %><br>
      <!-- manages whether to display game choice entry or player name entry -->
      <% if @p1_name != "Player 1" %>
        <%= @error %> <!-- displays error of invalid choice if invalid on previous entry -->
        <!-- entering choice of rock, paper, scissors -->      
        <form action='/'>
          <%= @current_turn %>, please enter your choice: <input type="text" name="choice"> 
          <input type="submit" value="submit">
        </form>
      <% else %>
        <!-- entering player names -->
        <form action='/'>
          Please enter a name for Player 1: <input type="text" name="player_1_name"><br> 
          Please enter a name for Player 2: <input type="text" name="player_2_name">
          <input type="checkbox" checked="checked" name="play_against_the_computer"> Play against the computer.<br>
          <input type="submit" value="submit">
        </form>
      <% end %><br>  
      <a href='/' alt="Rock"><img class="click_image" src="images/Letter_r.svg"></a>
      <a href='/' alt="Paper"><img class="click_image" src="images/Letter_p.svg"></a>
      <a href='/' alt="Scissors"><img class="click_image" src="images/Letter_s.svg"></a>

 <!--      <h1>Header 1</h1>
      <p>content</p>
      <h2>Header 2</h2>
      <p>content</p>
      <h3>Header 3</h3>
      <p>content</p> -->
 <!--      <img src="images/profile_1.png" class="team_pic">
      <img src="images/profile_2.png" class="team_pic">
      <img src="images/profile_3.png" class="team_pic">
      <h4>Header 4</h4>
      <p>content</p>
      <h5>Header 5</h5>
      <p>content</p>
      <h6>Header 6</h6>
      <p>content</p> -->
      <!-- Simple form which will send a GET request -->
    <!--   <form action="">
        <label for="GET-first_name">First Name:</label>
        <input id="GET-first_name" type="text" name="First name">
        <label for="GET-name">Name:</label>
        <input id="GET-name" type="text" name="name">
        <label for="GET-name">Name:</label>
        <input id="GET-name" type="text" name="name">
        <input type="submit" value="Save">
      </form> -->

      <!-- Form with fieldset, legend, and label -->
   <!--    <form action="" method="post">
        <fieldset>
          <legend>Title</legend>
          <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
          <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
          <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
        </fieldset>
      </form> -->
      <footer>
        <small>Copyright 2015 intial.digital</small>
      </footer>
  </section>
  </body>
</html>

